/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  .logo a img {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor : crosshair;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .nav a {
    color: #050505;
    text-decoration: none;
    gap: 20px;
  }
  
  .nav a:hover {
    color: #f87823;
  }
  
  .telegramIcon {
    width: 30px;
    color: #020c17;
    justify-content: center;
  }

  .exploreButton {
    background-image: linear-gradient(
    to right,
    rgba(82, 156, 255, 0.8) 0%,
    rgb(248, 57, 40) 100%
  );
    color: #0c0b0b;
    border: 3px solid #0a0a0a;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    padding : 10px;
  }

  .exploreButton:hover {
    background-image: linear-gradient(
    to right,
    rgba(255, 59, 33, 0.8) 0%,
    rgb(248, 248, 248) 100%
  );
  }

  .icon {
    width: 30px;
    height: 30px;
    color: #121010;
    transition: all 0.3s ease-in-out;
  }

  .icon:hover {
    background : #f87823;
    border-radius: 50%;
  }

  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0;
    }

    .logo {
      margin-bottom: 20px;
    }

    .exploreButton {
      display: column;
      align-items: flex-start;
    }
    
  }
  