/* Stable.module.css */
.card {
  background-color: #232020;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 30px;
}
  
  .image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color : rgb(239, 231, 231);
  }
  
  p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 18px;
    line-height: 1.6;
    color : rgb(239, 231, 231);
  }
  
  button {
    background-color: #fb5f17;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0a0b0b;
  }
  